html {
  height: 100%;
  background-color: rgb(26, 8, 8);
  width: 100%;
  font-size: 16px;
}

html.landing-background {
  background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

html.hero-background {
  background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center 6.25rem;
  background-size: contain;
}

body {
  min-height: 100%;
  margin: 0;
  color: rgb(218, 218, 218);
  font-family: 'Play';
  height: auto;
}

a {
  color: rgb(170, 170, 170);

  transition: color;
  text-decoration: none;
}

a:hover {
  color: rgb(140, 140, 140);
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.75rem;
}

h2,
h2 + h3 {
  margin-top: 0;
}

h3 {
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid rgba(226, 219, 219, 0.5);
}

h4 {
  margin: 0;
}

/* Header */

.header {
  background: rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(200, 50, 50, 0.5);
}

.header.center {
  text-align: center;
}

/* Footer */
.footer {
  text-align: right;
  padding: 1.25rem;
  background: rgba(0, 0, 0, 0.35);
}

.footer--hero {
  position: absolute;
  margin: 0;
  padding: 1.5rem 0 1.5rem;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
}

/* Hero */
.hero {
  box-sizing: border-box;
  position: relative;
  height: 13rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
  text-align: center;
  margin: 0;
  box-sizing: border-box;
}

/*
Content
Faded content zone
*/

.content {
  background-color: rgba(0, 0, 0, 0.70);
  border-top: 1px solid rgba(200, 50, 50, 0.5);
}

/* Button */

.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: rgba(216, 12, 0, 0.85);
  color: black;
  font-family: 'Play';
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover {
  color: black;
  background-color: rgb(255, 0, 0);
}

.button--centered {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button--cta {
  font-size: 1.375rem;
  padding: 1rem 1.5rem;
}

.button--cta-centered {
  display: block;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-price {
  font-size: 1.25em;
}

/* Logo */
.logo {
  height: 5rem;
  width: 5rem;
  margin: 0.5rem;
  border-radius: 100%;
  background: rgb(0, 0, 0);
  padding: 0.5rem;
  border: 2px solid rgba(255, 0, 0, 0.5);
  margin-bottom: -3.375rem;
}

/* Masonry gallery */
.masonry {
  width: 100%;
  float: left;
  margin: 0.5rem 1.5rem 0.5rem;
}
.masonry img {
  width: 100%;
  height: auto;
  opacity: 0.75;
  transition: opacity 0.25s
}
.masonry figure:hover img {
  opacity: 1;
}
.masonry figure {
  display: block;
  float: left;
  margin: 0 0.25rem 0;
  width: 10rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.masonry figure a {
  display: block;
}
.masonry figure a img {
  display: block;
}
.masonry figcaption {
  display: none;
}

.pswp__caption__center {
  text-align: center;
}

[masonry] { visibility: hidden; }
[masonry].masonry { visibility: visible; }

/*
Section
A picture + details section
*/
.section {
  display: block;
  padding: 1rem 0;
  /* max-width: 1280px; */
  margin: auto;
  border-bottom: 1px solid rgba(200, 50, 50, 0.5);
}

.section:after {
  /* Clear fix */
  content: '';
  display: table;
  clear: both;
}

.section--text {
  padding: 1rem;
  font-size: 1rem;
}

.section--text h2 ~ h3 {
  border-bottom: 0;
  margin-top: -25px;
  opacity: 0.7;
}

.section--center {
  text-align: center;
}

.section--columns {
  text-align: center;
}

.section-column {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.section-aside {
  display: block;
  margin: auto;
}

.section-aside .slick,
.section-photo img {
  margin: 1rem auto;
}

.section-photo--round {
  position: relative;
  background: white;
  border-radius: 100%;
  overflow: hidden;
  width: 13rem;
  height: 13rem;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.section-photo--round img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-content {
  overflow: hidden;
}

.section--alternate {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Circle photo
Awesome circle that animates when you hover */
.circlephoto {
  display: block;
  position: relative;
  margin: 0 auto 1rem auto;
}

.circlephoto:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: '';
  background: rgba(29, 2, 2, 0.70);
  border-radius: 100%;
  border: 2px solid rgb(103, 24, 20);
  box-shadow: 0px 0px 2rem -0.3125rem rgba(255,0,0,0.5);
  transition: all 0.25s;
}

.circlephoto-image {
  display: block;
  position: relative;
  z-index: 2;
}

.circlephoto-button {
  display: block;
  position: relative;
  z-index: 2;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.circlephoto-caption {
  position: absolute;
  z-index: 2;
  margin: 0;
  color: white;
  text-align: center;
  transition: all 0.25s;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.circlephoto:focus {
  outline: none;
}

.circlephoto:focus:after,
.circlephoto:hover:after {
  background: rgba(130, 14, 14, 0.70);
  border-width: 0.25rem;
  box-shadow: 0px 0px 3.125rem -0.3125rem rgba(255,0,0,1);
}

.circlephoto:focus .circlephoto-caption,
.circlephoto:hover .circlephoto-caption {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/* List */
ul {
  margin: 0;
  padding: 0 1.5rem;
  overflow: hidden;
}

li {
  margin-left: 1rem;
}

/* Table */
table {
  width: 100%;
}

td, th {
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: left;
}

thead tr th {
  background: rgba(255, 255, 255, 0.32);
}

tbody tr:nth-child(even) td {
  background: rgba(150, 150, 150, 0.40);
}

tbody tr:nth-child(even) td:first-child {
  background: rgba(150, 150, 150, 0.60);
}

tbody tr:nth-child(odd) td {
  background: rgba(255, 255, 255, 0.15);
}

tbody tr:nth-child(odd) td:first-child {
  background: rgba(255, 255, 255, 0.23);
}

td.highlight {
  background: rgba(255, 255, 255, 0.32) !important;
}

td.color {
  background: rgba(239, 115, 115, 0.20) !important;
}

th:first-child {
  background: rgba(0, 0, 0, 0);
}

td:first-child {
  text-align: right;
}

td.center,
th.center {
  text-align: center;
}

td.right,
th.right {
  text-align: right;
}

td.empty,
th.empty {
  background-color: transparent !important;
}

/* Slick */
.slick figure {
  border-radius: 100%;
  overflow: hidden;
  position: relative;
  transform: translate3d(0,0,0);
}
.slick figure a:focus {
  outline: none;
}
.slick figure img {
  height: 100%;
  position: absolute;
  left:  50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.slick figcaption {
  font-size: 1px;
  visibility: hidden;
}
.slick-prev:focus:before, .slick-next:focus:before {
  color: rgb(36, 96, 193);
}
.slick-prev:before, .slick-next:before {
  color: rgb(152, 3, 3);
  line-height: 1.75rem;
}

.center {
  text-align: center;
}

/** Accordion */
.ui-accordion {
  margin: 0.75rem 0;
  text-align: left;
}
.ui-accordion-header {
  position: relative;
  margin: 0;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;

  border-width: 0;

  background-color: rgb(50, 50, 50);

  color: rgb(230, 230, 230);

  cursor: pointer;
}
.ui-accordion-header:before {
  content: '';
  position: absolute;
  width: 0.25rem;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgb(100, 100, 100);
}
.ui-accordion-header.ui-state-focus {
  outline: none;
}
.ui-accordion-header.ui-state-hover {
  background-color: rgb(60, 60, 60);
}
.ui-accordion-header.ui-state-focus:before {
  background: rgb(36, 96, 193);
}
.ui-accordion-header.ui-accordion-header-active:before {
  background: rgba(216, 12, 0, 0.85);
}
.ui-accordion-header ~ .ui-accordion-header {
  border-top-width: 1px;
  margin-top: 0.75rem;
}
.ui-accordion-content {
  padding: 0.5rem;
  background-color: rgb(40, 40, 40);
}

/** Text styles */
.highlight {
  color: red;
}

/** Stack */
.stack {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  list-style: none;
  text-align: center;
  border-radius: 0.25rem;
  background: rgb(31, 31, 31);
}
.stack li {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0 0.5rem;
  margin: 0;
  text-align: center;
}
.stack li:not(:last-child):after {
  position: absolute;
  top: 50%;
  right: 0.25rem;
  margin-top: -0.625rem;
  content: '▶';
}
.stack img {
  display: inline-block;
  margin: 0.25rem 0.5rem;
  height: 3.125rem;
  width: attr(width rem, '3rem');
}
.stack-label {
  display: block;
}

/** Default sizes */
.section-photo img {
  width: 100%;
  margin: auto;
}

.section-column {
  margin: 1.5rem;
  width: 17rem;
}

/** Slick */
.slick {
  margin: 2rem auto;
  width: 14.5rem;
}

.section-column .slick {
  margin: 0 auto;
}

.slick figure {
  height: 4.5rem;
  margin: 0.25rem;
  width: 4.5rem;
}

/** Circlephoto */
.circlephoto,
.circlephoto:after,
.circlephoto-image {
  width: 14rem;
  height: 14rem;
}
.circlephoto:focus:after,
.circlephoto:hover:after {
  width: 11rem;
  height: 11rem;
}

/* Portrait */
@media screen and (max-aspect-ratio: 3.99/3) {
  .section-aside {
    display: block;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
}

/* iPhone 6 */
@media screen and (min-width: 375px) {
  .slick {
    width: 17.5rem;
  }
  .slick figure {
    height: 5.5rem;
    margin: 0.25rem;
    width: 5.5rem;
  }

  .section-column {
    width: 20rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 18rem;
    height: 18rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 20rem;
    height: 20rem;
  }
  .slick {
    width: 17.5rem;
  }
}

/* iPhone 6 / Nexus 5x */
@media screen and (min-width: 410px) {
  body {
    font-size: 18px;
  }

  .section-column {
    width: 22.5rem;
    margin: 1.25rem;
  }
}

/* Nexus 6P */
@media screen and (min-width: 520px) {
  .section-column {
    margin: 3.125rem 0.5rem;
    width: 30.5rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 20.25rem;
    height: 20.25rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 22rem;
    height: 22rem;
  }
}

@media screen and (min-width: 640px) {
  .section-column {
    margin: 3.125rem 2rem;
    width: 35rem;
  }

  .section--text {
    padding: 2rem;
  }

  .section-aside {
    float: left;
    margin: 0 1.5rem 0.5rem 0;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 25rem;
    height: 25rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 30rem;
    height: 30rem;
  }

  .section--small {
    padding-left: 3rem;
    padding-right: 2rem;
  }
  .section--small .section-photo--round {
    float: none;
    width: 14rem;
    height: 14rem;
    margin: 0 auto 1rem auto;
  }
  .section--small .section-aside .slick {
    width: 17.5rem;
  }

  .section--small .section-aside {
    float: right;
  }

  .section--small .section-content {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .section-column {
    margin: 3rem 2rem;
    width: 18rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 14rem;
    height: 14rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .section-column {
    margin: 3rem 1rem;
    width: 19rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 18rem;
    height: 18rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 1280px) {
  .section-column {
    margin: 3rem 2rem;
    width: 20rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 18.75;
    height: 18.75;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 20.25rem;
    height: 20.25rem;
  }
  .slick {
    width: 19rem;
  }
  .slick figure {
    width: 6rem;
    height: 6rem;
  }
  .section--small .section-photo--round {
    width: 14rem;
    height: 14rem;
  }
  .section--small .section-aside .slick {
    width: 19rem;
  }
}

@media screen and (min-width: 1600px) {
  .section-column {
    margin: 3.125rem 1.125rem;
    width: 30.5rem;
  }

  .slick {
    width: 25.5rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 25rem;
    height: 25rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 22rem;
    height: 22rem;
  }

  .section-photo--round {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (min-width: 1700px) {
  .section-column {
    margin: 3.125rem 2rem;
  }
}

@media screen and (min-width: 1800px) {
  .section-column {
    margin: 3.125rem 2rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 22rem;
    height: 22rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 23.5rem;
    height: 23.5rem;
  }

  .slick {
    width: 26rem;
  }

  .slick figure {
    margin: 0.5rem;
    width: 8rem;
    height: 8rem;
  }
  .section--small .section-aside .slick {
    width: 17.5rem;
  }
}

@media screen and (min-width: 1900px) {
  .section-column {
    margin: 3.125rem 3.125rem;
  }
}