html {
  height: 100%;
  background-color: rgb(26, 8, 8);
}

html.landing-background {
  background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

html.hero-background {
  background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size: contain;
}

body {
  min-height: 100%;
  margin: 0;
  color: rgb(218, 218, 218);
  font-size: 18px;
  font-family: 'Play';
  height: auto;
}

a {
  color: rgb(170, 170, 170);

  transition: color;
  text-decoration: none;
}

a:hover {
  color: rgb(140, 140, 140);
}

h1 {
  font-size: 50px;
  font-weight: 400;
  margin: 10px 0;
}

h2 {
  font-size: 30px;
}

h2,
h2 + h3 {
  margin-top: 0;
}

h3 {
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(226, 219, 219, 0.5);
}

/* Header */

.header {
  background: rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(200, 50, 50, 0.5);
}

.header.center {
  text-align: center;
}

/* Footer */
.footer {
  text-align: right;
  padding: 30px 30px 30px 30px;
  background: rgba(0, 0, 0, 0.35);
}

.footer--hero {
  position: absolute;
  margin: 0;
  padding: 20px 20px 0 20px;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
}

/* Hero */
.hero {
  position: relative;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-caption {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  text-align: center;
  margin: 0;
}

/*
Content
Faded content zone
*/

.content {
  background-color: rgba(0, 0, 0, 0.70);
  border-top: 1px solid rgba(200, 50, 50, 0.5);
}

/* Button */

.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  background-color: rgba(216, 12, 0, 0.85);
  color: black;
  font-family: 'Play';
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover {
  color: black;
  background-color: rgb(255, 0, 0);
}

.button--centered {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button--cta {
  font-size: 25px;
  padding: 15px 25px;
}

.button--cta-centered {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-price {
  font-size: 1.25em;
}

/* Logo */
.logo {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 100%;
  background: rgb(0, 0, 0);
  padding: 9px;
  border: 2px solid rgba(255, 0, 0, 0.5);
  margin-bottom: -54px;
}

/* Masonry gallery */
.masonry {
  width: 100%;
  float: left;
  margin: 10px 10px 20px 10px;
}
.masonry img {
  width: 100%;
  height: auto;
  opacity: 0.75;
  transition: opacity 0.25s
}
.masonry figure:hover img {
  opacity: 1;
}
.masonry figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
  border-radius: 4px;
  overflow: hidden;
}
.masonry figure a {
  display: block;
}
.masonry figure a img {
  display: block;
}
.masonry figcaption {
  display: none;
}

.pswp__caption__center {
  text-align: center;
}

[masonry] { visibility: hidden; }
[masonry].masonry { visibility: visible; }

/*
Section
A picture + details section
*/
.section {
  display: block;
  padding: 15px 0;
  /*max-width: 1280px;*/
  margin: auto;
  border-bottom: 1px solid rgba(200, 50, 50, 0.5);
}

.section:after {
  /* Clear fix */
  content: '';
  display: table;
  clear: both;
}

.section--text {
  padding: 30px;
  font-size: 20px;
}

.section--text h3 {
  border-bottom: 0;
  margin-top: -25px;
  opacity: 0.7;
}

.section--center {
  text-align: center;
}

.section--columns {
  text-align: center;
}

.section-column {
  display: inline-block;
  vertical-align: top;
  margin: 50px 36px;
  width: 350px;
  text-align: left;
}

.section-photo {
  float: left;
  margin: 0 10px 10px 0;
}

.section-photo img {
  width: 300px;
}

.section-photo--round {
  position: relative;
  background: white;
  border-radius: 100%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.section-photo--round img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-content {
  overflow: hidden;
  padding-left: 20px;
}

.section--right {
  text-align: right;
}
.section--right .section-content {
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
}
.section--right .section-photo {
  float: right;
  margin: 0 0 10px 10px;
}

/* Circle photo
Awesome circle that animates when you hover */
.circlephoto {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 300px;
}

.circlephoto:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  content: '';
  background: rgba(29, 2, 2, 0.70);
  border-radius: 100%;
  border: 2px solid rgb(103, 24, 20);
  box-shadow: 0px 0px 30px -5px rgba(255,0,0,0.5);
  transition: all 0.25s;
}

.circlephoto-image {
  display: block;
  position: relative;
  z-index: 2;
  width: 300px;
  height: 300px;
}

.circlephoto-button {
  display: block;
  position: relative;
  z-index: 2;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.circlephoto-caption {
  position: absolute;
  z-index: 2;
  margin: 0;
  color: white;
  text-align: center;
  transition: all 0.25s;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.circlephoto:focus {
  outline: none;
}

.circlephoto:focus:after,
.circlephoto:hover:after {
  width: 325px;
  height: 325px;
  background: rgba(130, 14, 14, 0.70);
  border-width: 3px;
  box-shadow: 0px 0px 50px -5px rgba(255,0,0,1);
}

.circlephoto:focus .circlephoto-caption,
.circlephoto:hover .circlephoto-caption {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* List */
ul {
  margin: 0;
  padding: 0 20px;
  overflow: hidden;
}

li {
  margin-left: 15px;
}

/* Table */
table {
  width: 100%;
}

td, th {
  margin: 0;
  padding: 10px 15px;
  text-align: left;
}

tbody tr:nth-child(even) td {
  background: rgba(0, 0, 0, 0.20);
}

tbody tr:nth-child(odd) td {
  background: rgba(255, 255, 255, 0.12);
}

thead tr th,
tbody tr td:first-child {
  background: rgba(255, 255, 255, 0.32);
}

td.highlight {
  background: rgba(255, 255, 255, 0.32) !important;
}

td.color {
  background: rgba(239, 115, 115, 0.20) !important;
}

th:first-child {
  background: rgba(0, 0, 0, 0);
}

td:first-child {
  text-align: right;
}

td.center,
th.center {
  text-align: center;
}

td.right,
th.right {
  text-align: right;
}

td.empty,
th.empty {
  background-color: transparent !important;
}

/* Slick */
.slick {
  margin: 20px 0;
}
.slick figure {
  height: 100px;
  border-radius: 6px;
  margin: 10px;
}
.slick figure a:focus {
  outline: none;
}
.slick figure img {
  height: 100%;
}
.slick figcaption {
  font-size: 1px;
  visibility: hidden;
}
.slick-prev:focus:before, .slick-next:focus:before {
  color: rgb(36, 96, 193);
}

.center {
  text-align: center;
}

/** Accordion */
.ui-accordion {
  margin: 12px 0;
}
.ui-accordion-header {
  position: relative;
  margin: 0;
  padding: 8px 12px 8px 12px;

  border-width: 0;

  background-color: rgb(50, 50, 50);

  color: rgb(230, 230, 230);

  cursor: pointer;
}
.ui-accordion-header:before {
  content: '';
  position: absolute;
  width: 4px;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgb(100, 100, 100);
}
.ui-accordion-header.ui-state-focus {
  outline: none;
}
.ui-accordion-header.ui-state-focus:before {
  background: rgb(36, 96, 193);
}
.ui-accordion-header.ui-accordion-header-active:before {
  background: rgba(216, 12, 0, 0.85);
}
.ui-accordion-header ~ .ui-accordion-header {
  border-top-width: 1px;
  margin-top: 12px;
}
.ui-accordion-content {
  padding: 6px;
  background-color: rgb(20, 20, 20);
}

@media screen and (max-aspect-ratio: 4/3) {
  .section-photo {
    display: block;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .section--right .section-photo {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .section--right {
    text-align: left
  }
}

@media screen and (min-width: 1600px) {
  .section-column {
    margin: 50px 35px;
    width: 460px;
  }
}

@media screen and (min-width: 1900px) {
  .section-column {
    margin: 50px 75px;
    width: 470px;
  }
}