html {
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

html.html--dark {
  color: white;
  font-family: 'Play';
}
html.herobackground {
  background-color: rgb(26, 8, 8);
  background-image: url('images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center 4rem;
  background-size: contain;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: rgb(170, 170, 170);

  transition: color;
  text-decoration: none;
}

a:hover {
  color: rgb(140, 140, 140);
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0.5rem 0;
}

h2 {
  font-size: 1.75rem;
}

h2,
h2 + h3 {
  margin-top: 0;
}

h3 {
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  border-bottom: 1px solid rgba(226, 219, 219, 0.5);
}

h4 {
  margin: 0;
}

/* Thanks, Chris! https://css-tricks.com/examples/hrs/ */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

/*
Top header
*/
.header {
  position: relative;
  height: 64px;
}

.header-logo {
  display: block;
  height: 52px;
  width: 52px;
  padding: 6px;
  margin: auto;
}

.header-button {
  float: right;
}

.header-section--left,
.header-section--right {
  top: 0;
  position: absolute;
  height: 100%;
}

.header-section--left {
  left: 0;
}
.header-section--right {
  right: 0;
}

/* Footer */
.footer {
  color: white;
  text-align: right;
  padding: 1.25rem;
}

.header,
.footer {
  background: rgba(0,0,0,0.8);
}

/* Tab list */
.tablist {
  height: 64px;
}
.tablist-tab {
  display: block;
  float: left;
  height: 100%;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.2);
  line-height: 61px;
  color: rgb(23, 23, 23);
  border-right: 1px solid black;
}

.tablist-tab:hover {
  background: rgba(255, 255, 255, 0.36);
  color: rgba(0, 0, 0, 0.97);
}

.tablist-tab.is-selected {
  background: rgba(255, 255, 255, 0.95);
  color: rgb(80, 80, 80);
  cursor: default;
}

/* Hero */
.hero {
  position: relative;
  width: 100%;
  /* height: calc(100% - 64px); */
  padding: 24px 0 0 0;
  box-sizing: border-box;
}
.hero-text {
  margin: 0 0 0.125em 0;
  font-size: 128px;
  font-weight: 200;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.hero-subtext,
.hero-bottomtext {
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.hero-bottomtext {
  font-size: 34px;
  font-weight: 300;
  opacity: 0.8;
}

.hero-buy {
  position: absolute;
  top: 10px;
  right: 10px;
}

.hero-image {
  width: 800px;
}

/* Background image required */
.hero-container {
  width: 100%;
  height: 60%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Button */
.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: rgba(216, 12, 0, 0.85);
  color: #fbfbfb;
  text-decoration: none;
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover {
  background-color: rgb(224, 0, 0);
  color: white;
}

.button--centered {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button--cta {
  font-size: 20px;
  padding: 10px 14px;
  margin: 13px 10px;
}

.button--cta-centered {
  display: block;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button--large {
  font-size: 38px;
  padding: 20px 8px;
}

.button-price {
  font-size: 1.25em;
}

/*
Sweet-ass horizontal bullets
*/
.horizontalbullets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.horizontalbullets li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.horizontalbullets li:not(:first-child):before {
  display: inline-block;
  content: '•';
  padding: 0 12px;
  font-weight: 100;
  font-size: 0.5em;
  line-height: 0;
  vertical-align: 0.35em;
}

/* Masonry gallery */
.masonry {
  width: 100%;
  float: left;
  margin: 0.5rem 1.5rem 0.5rem;
}
.masonry img {
  width: 100%;
  height: auto;
  opacity: 0.75;
  transition: opacity 0.25s
}
.masonry figure:hover img {
  opacity: 1;
}
.masonry figure {
  display: block;
  float: left;
  margin: 0 0.25rem 0;
  width: 10rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.masonry figure a {
  display: block;
}
.masonry figure a img {
  display: block;
}
.masonry figcaption {
  display: none;
}

.pswp__caption__center {
  text-align: center;
}

[masonry] { visibility: hidden; }
[masonry].masonry { visibility: visible; }

/*
Section
A picture + details section
*/
.section {
  display: block;
  padding: 1rem 0;
  /* max-width: 1280px; */
  margin: auto;
}

.section:after {
  position: relative;
  top: 28px;
  display: block;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));

  content: '';
  clear: both;
}

.section--text {
  padding: 1rem;
  font-size: 1rem;
}

.section--text h2 ~ h3 {
  border-bottom: 0;
  margin-top: -25px;
  opacity: 0.7;
}

.section--center {
  text-align: center;
}

.section--columns {
  text-align: center;
}

.section-column {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.section-aside {
  display: block;
  margin: auto;
}

.section-aside .slick--round,
.section-photo img {
  margin: 1rem auto;
}

.section-photo--round {
  position: relative;
  background: white;
  border-radius: 100%;
  overflow: hidden;
  width: 13rem;
  height: 13rem;
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}

.section-photo--round img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-content {
  overflow: hidden;
}

.section--alternate {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Circle photo
Awesome circle that animates when you hover */
.circlephoto {
  display: block;
  position: relative;
  margin: 0 auto 1rem auto;
}

.circlephoto:after {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  content: '';
  background: rgba(29, 2, 2, 0.70);
  border-radius: 100%;
  border: 2px solid rgb(103, 24, 20);
  box-shadow: 0px 0px 2rem -0.3125rem rgba(255,0,0,0.5);
  transition: all 0.25s;
}

.circlephoto-image {
  display: block;
  position: relative;
  z-index: 2;
}

.circlephoto-button {
  display: block;
  position: relative;
  z-index: 2;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.circlephoto-caption {
  position: absolute;
  z-index: 2;
  margin: 0;
  color: white;
  text-align: center;
  transition: all 0.25s;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 100%;
}

.circlephoto:focus {
  outline: none;
}

.circlephoto:focus:after,
.circlephoto:hover:after {
  background: rgba(130, 14, 14, 0.70);
  border-width: 0.25rem;
  box-shadow: 0px 0px 3.125rem -0.3125rem rgba(255,0,0,1);
}

.circlephoto:focus .circlephoto-caption,
.circlephoto:hover .circlephoto-caption {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

/* List */
ul {
  margin: 0;
  padding: 0 1.5rem;
  overflow: hidden;
}

li {
  margin-left: 1rem;
}

/* Table */
table {
  width: 100%;
}

td, th {
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: left;
}

thead tr th {
  background: rgba(255, 255, 255, 0.32);
}

tbody tr:nth-child(even) td {
  background: rgba(150, 150, 150, 0.40);
}

tbody tr:nth-child(even) td:first-child {
  background: rgba(150, 150, 150, 0.60);
}

tbody tr:nth-child(odd) td {
  background: rgba(255, 255, 255, 0.15);
}

tbody tr:nth-child(odd) td:first-child {
  background: rgba(255, 255, 255, 0.23);
}

td.highlight {
  background: rgba(255, 255, 255, 0.32) !important;
}

td.color {
  background: rgba(239, 115, 115, 0.20) !important;
}

th:first-child {
  background: rgba(0, 0, 0, 0);
}

td:first-child {
  text-align: right;
}

td.center,
th.center {
  text-align: center;
}

td.right,
th.right {
  text-align: right;
}

td.empty,
th.empty {
  background-color: transparent !important;
}

.center {
  text-align: center;
}

/** Accordion */
.ui-accordion {
  margin: 0.75rem 0;
  text-align: left;
}
.ui-accordion-header {
  position: relative;
  margin: 0;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;

  border-width: 0;

  background-color: rgb(50, 50, 50);

  color: rgb(230, 230, 230);

  cursor: pointer;
}
.ui-accordion-header:before {
  content: '';
  position: absolute;
  width: 0.25rem;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgb(100, 100, 100);
}
.ui-accordion-header.ui-state-focus {
  outline: none;
}
.ui-accordion-header.ui-state-hover {
  background-color: rgb(60, 60, 60);
}
.ui-accordion-header.ui-state-focus:before {
  background: rgb(36, 96, 193);
}
.ui-accordion-header.ui-accordion-header-active:before {
  background: rgba(216, 12, 0, 0.85);
}
.ui-accordion-header ~ .ui-accordion-header {
  border-top-width: 1px;
  margin-top: 0.75rem;
}
.ui-accordion-content {
  padding: 0.5rem;
  background-color: rgb(40, 40, 40);
}

/** Text styles */
.highlight {
  color: red;
}

/** Stack */
.stack {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  list-style: none;
  text-align: center;
  border-radius: 0.25rem;
  background: rgb(31, 31, 31);
}
.stack li {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0 0.5rem;
  margin: 0;
  text-align: center;
}
.stack li:not(:last-child):after {
  position: absolute;
  top: 50%;
  right: 0.25rem;
  margin-top: -0.625rem;
  content: '▶';
}
.stack img {
  display: inline-block;
  margin: 0.25rem 0.5rem;
  height: 3.125rem;
  width: attr(width rem, '3rem');
}
.stack-label {
  display: block;
}

/** Default sizes */
.section-photo img {
  width: 100%;
  margin: auto;
}

.section-column {
  margin: 1.5rem;
  width: 17rem;
}

.section-column .slick {
  margin: 0 auto;
}

/** Slick */
.slick {
  margin: 2rem auto;
  width: 14.5rem;
}
.slick-active {
  z-index: 1; /* Float on top */
}
.slick figure {
  position: relative;
  transform: translate3d(0,0,0);
}
.slick figure img {
  position: absolute;
  left:  50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 100%;
}
.slick figure a:focus {
  outline: none;
}
.slick-slide {
  /* Fix weird overflow with text at bottom */
  margin: 0;
  padding: 0;
}

/* Big and nice */
.slick--hero {
  width: 100%;
  height: 250px;
  margin-top: 0;
}
.slick--hero .slick-track,
.slick--hero .slick-list {
  height: 100%;
}
.slick--round figure {
  width: 100%;
  height: 100%;
}

.slick--hero .slick-dots {
  top: 0;
  bottom: auto;
}

.slick--hero .slick-prev,
.slick--hero .slick-next {
  display: none;
}
.slick--hero figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  z-index: 1;
  color: black;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 34px;
  font-weight: 300;
  opacity: 0.8;
}

/* Round and small */
.slick--round figure {
  border-radius: 100%;
  overflow: hidden;

  height: 4.5rem;
  margin: 0.25rem;
  width: 4.5rem;
}
.slick--round figcaption {
  font-size: 1px;
  visibility: hidden;
}

/* Buttons */
.slick-prev:focus:before, .slick-next:focus:before {
  color: rgb(36, 96, 193);
}
.slick-prev:before, .slick-next:before {
  color: rgb(152, 3, 3);
  line-height: 1.75rem;
}

/** Circlephoto */
.circlephoto,
.circlephoto:after,
.circlephoto-image {
  width: 14rem;
  height: 14rem;
}
.circlephoto:focus:after,
.circlephoto:hover:after {
  width: 11rem;
  height: 11rem;
}

@media screen and (max-aspect-ratio: 3/4) {
  .slick--hero figure img {
    height: 80%;
  }
  .hero-text {
    font-size: 48px;
  }
  .hero-subtext,
  .hero-bottomtext,
  .slick--hero figcaption {
    font-size: 20px;
  }

  .responsive-hide {
    display: none;
  }

  .section-aside {
    display: block;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .frametabs {
    display: none;
  }
}

/* iPhone 6 */
@media screen and (min-width: 375px) {
  .slick--round {
    width: 17.5rem;
  }
  .slick--round figure {
    height: 5.5rem;
    margin: 0.25rem;
    width: 5.5rem;
  }

  .section-column {
    width: 20rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 18rem;
    height: 18rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 20rem;
    height: 20rem;
  }
}

/* iPhone 6 / Nexus 5x */
@media screen and (min-width: 410px) {
  .slick--hero {
    height: 350px;
  }

  body {
    font-size: 18px;
  }

  .section-column {
    width: 22.5rem;
    margin: 1.25rem;
  }
}

/* Nexus 6P */
@media screen and (min-width: 520px) {
  .slick--hero {
    height: 400px;
  }

  .section-column {
    margin: 3.125rem 0.5rem;
    width: 30.5rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 20.25rem;
    height: 20.25rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 22rem;
    height: 22rem;
  }
}

@media screen and (min-width: 640px) {
  .slick--hero {
    height: 500px;
  }

  .section-column {
    margin: 3.125rem 2rem;
    width: 35rem;
  }

  .section--text {
    padding: 2rem;
  }

  .section-aside {
    float: left;
    margin: 0 1.5rem 0.5rem 0;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 25rem;
    height: 25rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 30rem;
    height: 30rem;
  }

  .section--small {
    padding-left: 3rem;
    padding-right: 2rem;
  }
  .section--small .section-photo--round {
    float: none;
    width: 14rem;
    height: 14rem;
    margin: 0 auto 1rem auto;
  }
  .section--small .section-aside .slick--round {
    width: 17.5rem;
  }

  .section--small .section-aside {
    float: right;
  }

  .section--small .section-content {
    padding-right: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .slick--hero {
    height: 600px;
  }

  .section-column {
    margin: 3rem 2rem;
    width: 18rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 14rem;
    height: 14rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 16rem;
    height: 16rem;
  }
}

@media screen and (min-width: 1024px) {
  .slick--hero {
    height: 440px;
  }

  .section-column {
    margin: 3rem 1rem;
    width: 19rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 18rem;
    height: 18rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 20rem;
    height: 20rem;
  }
}

@media screen and (min-width: 1280px) {
  .slick--hero {
    height: 680px;
  }

  .section-column {
    margin: 3rem 2rem;
    width: 20rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 18.75;
    height: 18.75;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 20.25rem;
    height: 20.25rem;
  }
  .slick--round {
    width: 19rem;
  }
  .slick--round figure {
    width: 6rem;
    height: 6rem;
  }
  .section--small .section-photo--round {
    width: 14rem;
    height: 14rem;
  }
  .section--small .section-aside .slick--round {
    width: 19rem;
  }
}

@media screen and (min-width: 1600px) {
  .slick--hero {
    height: 740px;
  }

  .section-column {
    margin: 3.125rem 1.125rem;
    width: 30.5rem;
  }

  .slick--round {
    width: 25.5rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 25rem;
    height: 25rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 22rem;
    height: 22rem;
  }

  .section-photo--round {
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (min-width: 1700px) {
  .section-column {
    margin: 3.125rem 2rem;
  }
}

@media screen and (min-width: 1800px) {
  .section-column {
    margin: 3.125rem 2rem;
  }

  .circlephoto,
  .circlephoto:after,
  .circlephoto-image {
    width: 22rem;
    height: 22rem;
  }
  .circlephoto:focus:after,
  .circlephoto:hover:after {
    width: 23.5rem;
    height: 23.5rem;
  }

  .slick--round {
    width: 26rem;
  }

  .slick--round figure {
    margin: 0.5rem;
    width: 8rem;
    height: 8rem;
  }
  .section--small .section-aside .slick--round {
    width: 17.5rem;
  }
}

@media screen and (min-width: 1900px) {
  .section-column {
    margin: 3.125rem 3.125rem;
  }
}