/* Masonry gallery */
.masonry {
  width: 100%;
  float: left;
  margin: 0.5rem 1.5rem 0.5rem;
}
.masonry img {
  width: 100%;
  height: auto;
  opacity: 0.75;
  transition: opacity 0.25s
}
.masonry figure:hover img {
  opacity: 1;
}
.masonry figure {
  display: block;
  float: left;
  margin: 0 0.25rem 0;
  width: 10rem;
  border-radius: 0.25rem;
  overflow: hidden;
}
.masonry figure a {
  display: block;
}
.masonry figure a img {
  display: block;
}
.masonry figcaption {
  display: none;
}
[masonry] { visibility: hidden; }
[masonry].masonry { visibility: visible; }
